.container-work__header {
    color:#212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;}

    .container-work{
        padding-bottom: 94px;

    }
   
    .container-work-imagedecor{
        display: flex;
          }

    .container-work-imagedecor__item{
       display: block; 
        margin-right: 30px;
    }
    .container-work-imagedecor__item:last-child{
        margin-right: 0;
    }


    .container-work-imagedecor__position{
                position: relative; 
       
    }
.container-work-imagedecor__name{
    display: block;
    width: 370px;
    height: 30px;
    position: absolute;
    top: 224px;
    right: 0;
}

.container-work-imagedecor__text{

display: block;
padding: 27px 82px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
background: rgba(47, 48, 58, 0.8);
}