
.logo-ferst{
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em; 
    color: $trend-color;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* margin-top: 24;
    margin-bottom: 25; */
    
    }
    
    
    
    .logo-ferst .logo-lest{
        display: inline-block;
        color: #212121;
        margin-top: 24px;
        margin-bottom: 25px;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .logo-ferst:hover,
    .logo-ferst:focus{
        cursor: pointer;
        color: #757575;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
       
    }