
.social-link{
    display: flex;
    margin: 0;
    margin-left: 32px;
    padding-bottom: 30px;
    
   }
.social-link__item{
    /* margin-right: 10px; */
    display: flex;
    margin-right: 10px;
   
    } 

/* .ullink:nth-first-child{
    margin-left: 32px;
} */

.social-link__a{
display: flex;
    width: 44px;
    height: 44px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50%;
   
}

.social-link__iconsvg{
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:#AFB1B8; 
    }
.social-link__a:hover  .social-link__iconsvg
 {
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #FFFFFF;
}
.social-link__a:hover{
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
     background: #2196F3;
}
.social-link__a:focus  .lsocial-link__iconsvg {
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    fill: #FFFFFF;
       }
      .social-link__a:focus  {
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
        background: #2196F3;
        } 
        