
.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}

     .team__header{
        color:#212121;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
         margin-bottom: 50px;
         text-align: center;
   }
   .teamdecor{
    display: flex;

    
       }
       .teamdecor .team__img{
        width: 270px;
        margin-right: 30px;
        /* outline: 2px solid #212121; */
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

       }
       .teamdecor .team__img:last-child{
        margin-right: 0;
       }

.team__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}
.team__position{
    display: inline-block;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color:$notrend-kolor;
}
.team-center{
    display: block;
    padding-top: 30px;
    padding-bottom: 16px;
    text-align: center;
}